<%- include('partials/header'); -%>

<ul class="recipes">
  <%for(let i=0;i<3;i++){%>
  <li class="recipe">
    <img src="/snow.png" alt="snow recipe icon">
    <h4>Banana Boost</h4>
    <p>Banana, Vanilla ice cream, Milk</p>
  </li>
  <%}%>
</ul>
